html{
    margin: 0;
}

body{
    background-color: darkcyan;
    min-height: 100vh;
    vertical-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: sans-serif;
    color: mediumvioletred;
    width: 100vw;
}

#main-container{
    /*margin: 10px auto;*/
    background-color: azure;
    /*width: 100vw;*/
}

footer{
    padding: 30px;
    border-top: 1px solid mediumvioletred;
}
.analytics-col{
    padding: 0;
}

#center-info{
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
    margin: 0;
}

#data-analytics{
    border-bottom: 1px solid mediumvioletred;
}

#graph{
    height: 50vh;
    text-align: center;
    border-right: 1px solid mediumvioletred;
    padding: 20px
}

#bar-chart{
    vertical-align: center;
}

#total-sales-container{
    height: 25vh;
    border-bottom: 1px solid mediumvioletred;
    padding: 20px;
    text-align: center;
}

#total-sales{
    font-size: 10vh;}

#total-sales, #top-sellers{
    font-weight: unset;
}

#top-sellers{
    font-size: 5vh;
}
#top-sellers-container{
    height: 12.5vh;
    border-bottom: 1px solid mediumvioletred;
    text-align: center
}

#shortage-info{
    height: 12.5vh;
    text-align: center
}

#inner-right-statistics{
    padding: 0;
}

#order-history-header{
    padding: 0;
    font-size: 15px;
}

#order-history-header>ul{
    list-style-type: none;
    border-bottom: 1px solid mediumvioletred;
    margin-top: 10px;
    padding: 0;
    display: table;
    width: 100%;
}

#order-history-header li, .order>span, .order>div{
    display: table-cell;
    border-right: 1px solid mediumvioletred;
    padding: 10px;
    margin: 0;
}

#order_ID, .first-col{
    width: 15%;
}

#item, .second-col{
    width: 55%;
}

#total, .third-col{
    width: 10%;
}

#date, .fourth-col{
    width: 10%;
}

#customer_ID, .fifth-col{
    width: 10%;
    border-right: none;
}

.order{
    border: 1px solid mediumvioletred;
    width: 100%;
    display: table;
    margin: 15px 0;
}


#tabs{
    background-color: azure;
    z-index: 1;
    top: 30vh;
    left: -10px;
    width: 12.5vw;
    margin: 0;
    padding: 0;
    position: fixed;
}

#tabs ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tabs li{
    text-align: center;
    padding: 10px;
    border: 1px solid mediumvioletred;
    width: 100%;
    cursor: pointer;
}

#tabs a{
    text-decoration: none;
    color: mediumvioletred;
}

#tabs a:hover{
    color: rebeccapurple;
}

#items-for-sale, #hidden-items-container{
    margin: 10px 0;
}

.item{
    width: 100%;
    height: 150px;
    border: 1px solid mediumvioletred;
    margin-bottom: 10px;
    padding: 0;
    display: table;
}

.item-name{
    display: table-cell;
    width: 15%;
    height: 100%;
    border-right: 1px solid mediumvioletred;
    padding: 10px;
    margin: 0;
    justify-content: center;
}

#editItem-form>.item-name>input, #editItem-form>.item-type>input{
    border: none;
    outline: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    font-weight: inherit;
    background-color: azure;
}

#editItem-form>.item-name>input:focus, #editItem-form>.item-type>input:focus{
    outline: none;
}

#editItem-form input, #editItem-form textarea{
    color:mediumvioletred;
    border: 1px solid mediumvioletred;
}

#editItem-form input:focus, #editItem-form textarea:focus{
    color:mediumvioletred;
    outline: none;
}


.item-type{
    display: table-cell;
    width: 10%;
    height: 100%;
    border-right: 1px solid mediumvioletred;
    padding: 10px;
    margin: 0;
    justify-content: center;
}

.item-desc{
    display: table-cell;
    width: 35%;
    height: 100%;
    border-right: 1px solid mediumvioletred;
    margin: 0;
    padding: 10px;
}

.item-desc p{
    overflow-wrap: anywhere;
    hyphens: manual;
    text-overflow: fade;
    overflow: hidden;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;

}

.item-price{
    width: 10%;
    margin: 0;
    height: 100%;
    display: table-cell;
    border-right: 1px solid mediumvioletred;
    padding: 10px;
    justify-content: center;
}

.item-quantity{
    width: 10%;
    height: 100%;
    display: table-cell;
    border-right: 1px solid mediumvioletred;
    padding: 10px;
    justify-content: center;
    margin: 0;

}

.item-edit-icon, .item-change-icon{
    width: 10%;
    height: 100%;
    display: table-cell;
    border-right: 1px solid mediumvioletred;
    padding: 10px;
    justify-content: center;
    margin: 0;
    color: blue
}

.item-delete-icon, .item-hide-icon a, .item-unhide-icon a{
    width: 10%;
    height: 100%;
    display: table-cell;
    padding: 10px;
    justify-content: center;
    color: red;
    margin: 0;
}

.item-delete-icon a:hover, .item-hide-icon a:hover, .item-unhide-icon a:hover{
    text-decoration: none;
    color: darkred;
}


.item-delete-icon a, .item-hide-icon a, .item-edit-icon>p, .item-unhide-icon a{
    cursor: pointer;
}

/*purchase history page*/
.order-container{
    border: 1px solid mediumvioletred;
    margin: 20px 0;
}

.order-header{
    height: 15%;
    width: 100%;
    border-bottom: 1px solid mediumvioletred;
    display: table;
}


.order-header-item, .order-body-item{
    border-right: 1px solid mediumvioletred;
    margin: 0;
    height: 100%;
    display: inline-flex;
    font-weight: bold;
    padding: 10px;
}

.order-number{
    width: 50%;
}


.order-date{
    width: 25%;
}

.order-price{
    width: 25%;
    border-right: none;
}

.order-body{
    height: 85%;
    width: 100%;
}

.order-item{
    display: table;
    width: 100%;
}

.order-item-name{
    width: 50%;
}

.order-item-name>a{
   color: mediumvioletred;
}

.order-item-type{
    width: 20%;
}
.order-item-quantity{
    width: 10%;
}

.order-item-price{
    width: 10%;
    border-right: none;
}

/*Items for sale edit and delete*/
#addItem{
    position: absolute;
    right: 5%;
    height: 40px;
    width: 40px;
    border: 1px solid mediumvioletred;
    background-color: transparent;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    cursor: pointer;

}

#addItem-form select, #addItem-form input, #addItem-form textarea{
    background-color: azure;
    border: 1px solid mediumvioletred;
    color: mediumvioletred;
}

#addItem-form select:focus, #addItem-form input:focus, #addItem-form textarea:focus{
    outline: none;
}

.item input, .item textarea{
    width: 100%;
    display: block;
    background-color: azure;
}

.item-price>input{
    width: 90%;
    display: inline;
    background-color: azure;

}

.item-desc>textarea{
    resize: none;
    height: 100%;
}

#confirm-change, #delete-change{
    cursor: pointer;
}

#confirm-change:hover{
    color: green;
}

#confirm-change button{
    border: 0;
    background-color: transparent;
    font-weight: bold;
}

#sale-tab, #hidden-tab{
    width: 70px;
    height: 40px;
    background-color: azure;
    z-index: 1;
    border-left: 1px solid mediumvioletred;
    border-right: 1px solid mediumvioletred;
    border-top: 1px solid mediumvioletred;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    top: -30px;
    left:-1px;
    cursor: pointer;
}

a>#sale-tab, a>#hidden-tab{
    text-decoration: none;
    color: mediumvioletred;
}

a>#sale-tab:hover, a>#hidden-tab:hover{
    color: rebeccapurple;
}

.xtab{
    border-bottom: 1px solid mediumvioletred;
}

#hidden-tab{
    left: 70px;
}

#hidden-items-container{
    min-height: 250px;
}

#hidden-items{
    display: table;
}

#purchase-history-content, #admin-main-content, #hidden-items{
    padding: 20px;
    min-height: 250px;
}

#sales-section{
    padding: 0;
}

#empty-hidden, #empty-sale{
    text-align: center;
    color: mediumvioletred;
    align-content: center;
    align-items: center;
    margin-top: 75px;
}

#empty-available-list{
    text-align: center;
    color: mediumvioletred;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}

.availability-item{
    border-bottom: 1px solid mediumvioletred;
    padding: 5px;
    display: table;
    width: 100%;
}

#availability-container{
    border: 1px solid mediumvioletred;
    overflow-y: scroll;
    height: 70%;
    padding: 0 10px;
    width: 95%;
    margin: 0 2.5%;
}

.availability-item-name{
    border-right: 1px solid mediumvioletred;
    padding: 5px;
    width: 40%;
    text-align: center;
    display: inline-block;

}

.availability-item-type{
    border-right: 1px solid mediumvioletred;
    padding: 5px;
    width: 40%;
    text-align: center;
    display: inline-block;

}

.availability-quantity{
    width: 20%;
    padding: 5px;
    text-align: center;
    display: inline-block;

}

.status{
    display: inline-block;
    width: 50%;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 11px;
}

.status:hover{
    color:white;
}

.down-arrow{
    color: white;
    float: right;
}

.status-list{
    position: absolute;
    display: none;
    background-color: mediumvioletred;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
}

.status-list>a{
    display: block;
    font-size: 15px;
    background-color: lightyellow;
    text-decoration: none;
    padding: 10px;
    color: mediumvioletred;
    border-bottom: 1px solid mediumvioletred;
}

.status-list>a:hover{
    background-color: pink;
    color: yellow;
    text-decoration: none;
}

.show{
    display: block;
}

.status-new{
    background-color: green;
}

.status-delivered{
    background-color: gray;
}

.status-cancelled{
    background-color: red;
}

/*admin login*/
#admin-login-container{
    margin-top: 5vh;
    height: 70vh;
    padding: 0;
    background-color: ghostwhite;
    overflow: hidden;
    color: midnightblue;
}

#admin-login-picture{
    margin: 0;
    height: 70vh;
}

#admin-login-picture>video{
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
    border-radius: 15px 0 0 15px;

}

#admin-login-form{
    text-align: center;
    font-size: 20px;
    padding: 10%;
}

#admin-login-form input, #admin-login-form button{
    margin-top: 15%;
    border-radius: 5px;
    background-color: azure;

}

#admin-container-right{
    background-color: white;
}

#admin-container-right h1{
    color: turquoise;
}

#admin-container-right input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    width: 100%;
}

#admin-container-right input:focus{
    outline: none;
}

#admin-container-right button{
    border: 2px solid turquoise;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    color: turquoise;
}
#error{
    color: red;
    font-size: 15px;
}

