#backgroundVideo{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    max-height: 100%;
    z-index: -1;
    object-fit: cover;
    display: flex;
}

.video-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    text-align: center;

}
.underVideo{
    margin-top: 100vh;
}

.item-block{
    margin-top: 50px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.item-top{
    margin-top: 10vh;
    padding-top: 30px;
}
.item-bot{
    margin-top: 50px;
}

.item-image{
    width: 500px;
    height: 500px;
}
.item-name{
    padding-top: 5px;
    font-size: 30px;
    overflow: hidden;
}
.price{
    margin-top: 100px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main{
    min-height: 90vh;
}
.custom-outline-purple {
    border-color: rebeccapurple !important;
    color: rebeccapurple !important;
}
.custom-outline-purple.active {
    background-color: rebeccapurple !important;
    color: white !important;
}
.custom-outline-purple:not(.active) {
    background-color: transparent !important;
}
.custom-outline-purple:hover {
    background-color: purple !important;
    color: white !important;
}
