html{
    margin: 0;
}

body{
    background-color: rgba(254,216,243,0.75);
    min-height: 100vh;
    vertical-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: sans-serif;
}

#main-container{
    margin: 10px auto;
}

footer{
    padding: 30px;
    border-top: 1px solid black;
}
.analytics-col{
    padding: 0;
}

#center-info{
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
    margin: 0;
}

#data-analytics{
    border-bottom: 1px solid silver;
}

#graph{
    height: 50vh;
    text-align: center;
    border-right: 1px solid silver
}

#total-sales{
    height: 25vh;
    border-bottom: 1px solid silver;
    text-align: center
}

#top-sellers{
    height: 12.5vh;
    border-bottom: 1px solid silver;
    text-align: center
}

#your-balance{
    height: 12.5vh;
    text-align: center
}

#inner-right-statistics{
    padding: 0;
}

#order-history-header{
    padding: 0;
    font-size: 15px;
}

#order-history-header>ul{
    list-style-type: none;
    border-bottom: 1px solid silver;
    margin-top: 10px;
    padding: 0;
    display: table;
    width: 100%;
}

#order-history-header li, .order>span, .order>div{
    display: table-cell;
    border-right: 1px solid silver;
    padding: 10px;
    margin: 0;
}

#order_ID, .first-col{
    width: 10%;
}

#item, .second-col{
    width: 60%;
}

#total, .third-col{
    width: 15%;
}

#date, .fourth-col{
    width: 15%;
    border-right: none;
}

.order{
    border: 1px solid silver;
    width: 100%;
    display: table;
    margin: 15px 0;
}


#tabs{
    background-color: white;
    z-index: 1;
    top: 30vh;
    left: -10px;
    width: 12vw;
    margin: 0;
    padding: 0;
    position: fixed;
}

#tabs ul{
    list-style-type: none;
    padding: 0;
}

#tabs li{
    text-align: center;
    padding: 10px;
    border: 1px solid silver;
    width: 100%;
    cursor: pointer;
}

#items-for-sale, #hidden-items-container{
    margin: 10px 0;
}

.item{
    width: 100%;
    height: 150px;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 0;
    display: table;
}

.item-name{
    display: table-cell;
    width: 20%;
    height: 100%;
    border-right: 1px solid gray;
    padding: 10px;
    margin: 0;
    justify-content: center;
}

.item-desc{
    display: table-cell;
    width: 40%;
    height: 100%;
    border-right: 1px solid gray;
    margin: 0;
    padding: 10px;
}

.item-desc p{
    overflow-wrap: anywhere;
    hyphens: manual;
    text-overflow: fade;
    overflow: hidden;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin: 0;

}

.item-price{
    width: 10%;
    margin: 0;
    height: 100%;
    display: table-cell;
    border-right: 1px solid silver;
    padding: 10px;
    justify-content: center;
}

.item-quantity{
    width: 10%;
    height: 100%;
    display: table-cell;
    border-right: 1px solid silver;
    padding: 10px;
    justify-content: center;
    margin: 0;

}

.item-edit-icon, .item-change-icon{
    width: 10%;
    height: 100%;
    display: table-cell;
    border-right: 1px solid silver;
    padding: 10px;
    justify-content: center;
    margin: 0;
}

.item-delete-icon, .item-hide-icon, .item-unhide-icon{
    width: 10%;
    height: 100%;
    display: table-cell;
    padding: 10px;
    justify-content: center;
    color: red;
    margin: 0;
}

.item-delete-icon>p, .item-hide-icon>p, .item-edit-icon>p{
    cursor: pointer;
}

/*purchase history page*/
#orders{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    margin: 20px auto;
}

.order-container{
    border: 1px solid silver;
    margin: 20px 0;
}

.order-header{
    height: 15%;
    width: 100%;
    border-bottom: 1px solid silver;
    display: table;
}


.order-header-item, .order-body-item{
    border-right: 1px solid silver;
    margin: 0;
    height: 100%;
    display: inline-flex;
    font-weight: bold;
    padding: 10px;
}

.order-number{
    width: 50%;
}


.order-date{
    width: 25%;
}

.order-price{
    width: 25%;
    border-right: none;
}

.order-body{
    height: 85%;
    width: 100%;
}

.order-item{
    display: table;
    width: 100%;
}

.order-item-name{
    width: 70%;
}

.order-item-quantity{
    width: 10%;
}

.order-item-price{
    width: 10%;
    border-right: none;
}

/*Items for sale edit and delete*/
#addItem{
    position: absolute;
    top: 1vh;
    left: 65vw;
    height: 40px;
    width: 40px;
    border: 1px solid silver;
    background-color: white;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    cursor: pointer;

}

.item input, .item textarea{
    width: 100%;
    display: block;
}

.item-price>input{
    width: 90%;
    display: inline;
}

.item-desc>textarea{
    resize: none;
    height: 100%;
}

#confirm-change, #delete-change{
    cursor: pointer;
}

#confirm-change:hover{
    color: green;
}

#confirm-change button{
    border: 0;
    background-color: transparent;
    font-weight: bold;
}

#sale-tab, #hidden-tab{
    width: 70px;
    height: 40px;
    background-color: white;
    z-index: 1;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    top: -30px;
    left:-1px;
    cursor: pointer;
}

.xtab{
    border-bottom: 1px solid silver;
}

#hidden-tab{
    left: 70px;
}

#hidden-items-container{
    min-height: 250px;
}

#hidden-items{
    display: table;
}

#purchase-history-content, #admin-main-content{
    padding: 20px
}

