<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/cartstyle.css" th:href="@{cartstyle.css}">
    <link rel="stylesheet" href="../static/jason-stylesheet.css" th:href="@{jason-stylesheet.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="../static/admin-script.js" th:src="@{admin-script.js}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
<body>
<header>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-top justify-content-center">
            <a class="navbar-brand" href="#">
                <img th:src="@{media/Screenshot%202023-02-13%20at%2016.08.55.png}" src="../static/media/Screenshot%202023-02-13%20at%2016.08.55.png" alt="logo" style="width:40px;">
            </a>
            <form class="form-inline" action="?">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!--tabs on left-->
<div id="tabs">
    <ul>
        <li onclick="analytics_tab()">Analytics & Orders</li>
        <li onclick="items_tab()">Items for sale</li>
    </ul>
</div>

<div id="main-container" class="stands-out-background container">
    <div class="row">
        <div id="center-info" class="col-sm-12">
            <div id="data-analytics" class="row">
                <div id="graph" class="col-sm-6">
                    Graph
                </div>
                <div id="inner-right-statistics" class="col-sm-6">
                    <div id="total-sales">
                        Total Sales
                    </div>
                    <div id="top-sellers">
                        Best Selling
                    </div>
                    <div id="your-balance">
                        Shortage
                    </div>
                </div>
            </div>

            <!--Order History-->
            <div id="order-history" class="row">
                <div class="col-sm-12">
                    <div id="order-history-header">
                        <ul>
                            <li id="order_ID"><a>Order ID</a></li>
                            <li id="item"><a>Item Descriptions</a></li>
                            <li id="total"><a>Total</a></li>
                            <li id="date"><a>Date</a></li>
                        </ul>
                    </div>
                    <div id="order-container">
                        <div class="order">
                            <span class="first-col">0001</span>
                            <div class="second-col">
                                <div class="order-body">
                                     <div class="order-item">
                                        <span class="order-body-item order-item-name"><a href="#">Language Translator</a></span>
                                        <span class="order-body-item order-item-quantity">x1</span>
                                        <span class="order-body-item order-item-price">$2000</span>
                                    </div>
                                    <div class="order-item">
                                        <span class="order-body-item order-item-name"><a href="#">Face Recognition AI</a></span>
                                        <span class="order-body-item order-item-quantity">x2</span>
                                        <span class="order-body-item order-item-price">$4000</span>
                                    </div>
                                </div>
                            </div>
                            <span class="third-col">$6000.00</span>
                            <span class="fourth-col">09/02/2023</span>
                        </div>
                        <div class="order">
                            <span class="first-col">0002</span>
                            <div class="second-col">
                                <div class="order-body">
                                     <div class="order-item">
                                        <span class="order-body-item order-item-name"><a href="#">Food Image Database</a></span>
                                        <span class="order-body-item order-item-quantity">x1</span>
                                        <span class="order-body-item order-item-price">$850</span>
                                    </div>
                                </div>
                            </div>
                            <span class="third-col">$850.00</span>
                            <span class="fourth-col">09/02/2023</span>
                        </div>
                        <div class="order">
                            <span class="first-col">0003</span>
                            <div class="second-col">
                                <div class="order-body">
                                    <div class="order-item">
                                        <span class="order-body-item order-item-name"><a href="#">Face Recognition AI</a></span>
                                        <span class="order-body-item order-item-quantity">x1</span>
                                        <span class="order-body-item order-item-price">$2000</span>
                                    </div>
                                </div>
                            </div>
                            <span class="third-col">$2000.00</span>
                            <span class="fourth-col">09/02/2023</span>
                        </div>
                        <div class="order">
                            <span class="first-col">0004</span>
                            <div class="second-col">
                                <div class="order-body">
                                    <div class="order-item">
                                        <span class="order-body-item order-item-name"><a href="#">Language Translator</a></span>
                                        <span class="order-body-item order-item-quantity">x1</span>
                                        <span class="order-body-item order-item-price">$2000</span>
                                    </div>
                                </div>
                            </div>
                            <span class="third-col">$2000.00</span>
                            <span class="fourth-col">09/02/2023</span>
                        </div>
                        <div class="order">
                            <span class="first-col">0005</span>
                            <div class="second-col">
                                <div class="order-body">
                                    <div class="order-item">
                                        <span class="order-body-item order-item-name"><a href="#">Language Translator</a></span>
                                        <span class="order-body-item order-item-quantity">x1</span>
                                        <span class="order-body-item order-item-price">$2000</span>
                                    </div>
                                    <div class="order-item">
                                        <span class="order-body-item order-item-name"><a href="#">Food Images Dataset</a></span>
                                        <span class="order-body-item order-item-quantity">x2</span>
                                        <span class="order-body-item order-item-price">$1700</span>
                                    </div>
                                    <div class="order-item">
                                        <span class="order-body-item order-item-name"><a href="#">Face Recognition AI</a></span>
                                        <span class="order-body-item order-item-quantity">x1</span>
                                        <span class="order-body-item order-item-price">$2000</span>
                                    </div>
                                </div>
                            </div>
                            <span class="third-col">$5700.00</span>
                            <span class="fourth-col">09/02/2023</span>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>

        <div id="sales-section" class="col-sm-12" hidden>
            <div id="sale-tab" onclick="displayItemForSale()">Sale</div>
            <div id="hidden-tab" onclick="displayHiddenTab()">Hidden</div>
            <!--Items for sale-->
            <div id="items-for-sale" class="row">
                <div id="addItem" onclick="addItem()">+</div>
                <div id="admin-main-content" class="col-sm-12">
                    <div>
                        <h2>Items for sale</h2>
                    </div>
                    <form id='addItem-form' onsubmit="addNewItem();return false" hidden>
                        <div class="item">
                            <span class="item-name"><input type='text' placeholder='Enter item title' name="name" required></span>
                            <span class="item-desc"><textarea id="desc-new" name="desc-change" placeholder='Enter Description' cols='40' rows='6' required></textarea></span>
                            <span class="item-price">$<input type='text' name="price" required></span>
                            <span class="item-quantity"><input type='text' name="quant" required></span>
                            <span id="confirm-change" class="item-change-icon"><button type="submit">&#10003</button></span>
                            <span id="delete-change" class="item-delete-icon" onclick="resetAddItem()">X</span>
                        </div>
                    </form>
                    <div id="items" th:each="item : ${myItems.values()}">
                        <div class="item">
                            <span class="item-name"><strong>[(${item.getName})]</strong></span>
                            <span class="item-desc"><p><strong>Description: </strong>[(${item.getDescription})]</p></span>
                            <span class="item-price">[(${item.getPrice})]</span>
                            <span class="item-quantity">[(${item.getQuantity})]</span>
                            <span class="item-edit-icon"><p>edit</p></span>
                            <span class="item-hide-icon"><p>hide</p></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="hidden-items-container" class="row" hidden>
                <div id="hidden-items" class="col-sm-12">
                    <div><h2>Hidden Items</h2></div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--<footer>-->
<!--    <h2>Substitute footer</h2>-->
<!--</footer>-->
</body>
</html>