<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <link rel="stylesheet" href="../static/cartstyle.css" th:href="@{cartstyle.css}">
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="../static/cart.js" th:src="@{cart.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{header-and-background.css}" href="../static/header-and-background.css">
</head>
<body>
<header th:insert="~{fragments.html :: header}"> </header>

<div class="stands-out-background container">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title" style="border-bottom: dimgrey solid 1px; padding-bottom: 20px;">
                <div class="row">
                    <div class="col"><h3><b>Shopping Cart</b></h3></div>
                    <div class="col text-right text-muted align-self-center"><span id="total-items-count" th:text="${cartItemsCount}"></span> items</div>
                </div>
            </div>

            <div class="items-list" th:each="displayItem : ${cartDisplayItems}">
                <div class="row items align-items-center" th:id="|cart-item-${displayItem.cartItem.id}|">
                    <div class="col-2"><img class="img-fluid img-thumbnail" width="200px" height="200px"
                                            th:src="@{'/images/' + ${imageID.get(displayItem.getItem().getItemId())} + '.png'}"
                                            ></div>
                    <div class="col">
                        <div class="row text-muted" th:text="${displayItem.item.itemName}"/>

                        <form method="get" th:action="|/cart/items/${displayItem.cartItem.id}|" id="status-of-item">
                            <select id="model-selection" name="isTrained" onchange="alert();this.form.submit()">
                                <span th:if="${displayItem.item.isTrained == 1}">
                                    <option value="true">Trained</option>
                                    <option value="false">Untrained</option>
                                </span>
                                <span th:if="${displayItem.item.isTrained == 0}">
                                     <option value="true">Untrained</option>
                                    <option value="false">Trained</option>
                                </span>

                            </select>
                        </form>

                        <!--                        <div class="row" th:text="${displayItem.item.description}"/>-->
                    </div>
                    <div class="col">
                        <div class="container">
                            <button class="quantity-button"  th:onclick="decrement(this.parentNode, [[${displayItem}]], [[${taxRate}]])">-</button>
                            <a style="color: rgba(15,76,254,0.91);" class="counting" th:text="${displayItem.cartItem.quantity}"/>
                            <button class="quantity-button" th:onclick="increment(this.parentNode, [[${displayItem}]], [[${taxRate}]])">+</button>
                        </div>
                    </div>
                    <div class="col">
                        &euro; <span th:inline="text">[[${#numbers.formatDecimal(displayItem.item.price, 1,2)}]]</span>
                        <span>
                            <button th:onclick="removeItem([[${displayItem}]], [[${taxRate}]])" class="delete-button">&#10006</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="back-to-shop" style="border-top: dimgrey solid 1px; padding-top: 50px"><a style="text-decoration: none" href="/"><span>&leftarrow; Back to shop</span></a></div>
        </div>

        <div class="col-md-4 order-summary">
            <div><h5><b>ORDER SUMMARY</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:20px;">ITEMS</div>
                <div class="col text-right">&euro; <span id="order-summary-pretax-total" th:inline="text">[[${#numbers.formatDecimal(cartPretaxTotal, 1, 2)}]]</span></div>
                <br>
            </div>
            <div class="row">
                <div class="col" style="padding-left:20px;">Tax (<span th:text="${taxRateInPercentage}"></span>%)</div>
                <div class="col text-right">&euro; <span id="order-summary-tax" th:inline="text">[[${#numbers.formatDecimal(cartTax, 1, 2)}]]</span></div>
                <br>
            </div>
            <form style="margin: 10px">
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); border-bottom:10px solid rgba(0,0,0,.1); padding: 2vh 0;margin: 10px 2px">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro; <span id="order-summary-taxed-total" th:inline="text">[[${#numbers.formatDecimal(cartTaxedTotal, 1, 2)}]]</span></div>
            </div>
            <button class="button" onclick="checkout()">PAY</button>
        </div>
    </div>
    <div>

    </div>
</div>
</div>
</body>
</html>