<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="../static/cartstyle.css" th:href="@{cartstyle.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/header-and-background.css" th:href="@{header-and-background.css}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/checkout.js.js" th:src="@{checkout.js}"></script>

</head>
<body>
<header th:insert="~{fragments.html :: header}"> </header>

<div class="stands-out-background container" style="padding: 50px 50px;">
    <div class="row">
        <div class="col-md-12">
            <div><h5><b>Card details</b></h5></div>
            <p>Card Type</p>
            <select id="card-type">
                <option>Master</option>
                <option>VISA</option>
                <option>AM ES</option>
            </select>
            <p>Name on card</p>
            <input id="card-name" placeholder="Enter your name">
            <br>
            <p>Name number</p>
            <input id="card-number" placeholder="Enter your card number">
            <div class="row">
                <div class="col-md-6">
                    <label class="credit-card-label">Date</label>
                    <input id="expiry-date" type="text" class="form-control credit-inputs" placeholder="08/20">
                </div>
                <div class="col-md-6">
                    <label class="credit-card-label">CVV</label>
                    <input id="cvv" type="text" class="form-control credit-inputs" placeholder="820">
                </div>
            </div>
            <button class="button" onclick="completeOrder()">CHECKOUT</button>

        </div>
    </div>
</div>

</body>
</html>