<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" th:href="@{header-and-background.css}" href="../static/header-and-background.css">
</head>
<body>
<div th:fragment="header">
    <div class="container">
        <nav class="navbar navbar-expand-sm text-white fixed-top row">
            <div class="col-sm-3 offset-sm-1">
                <h2 class="text-white">Pawn AI Marketplace</h2>
            </div>
            <div class="col-sm-4">
                <form class="form-inline" method="post" th:action="@{/}">
                    <span class="col-sm-9">
                        <input class="form-control w-100" type="text" placeholder="Search" name="search_query">
                    </span>
                    <span class="col-sm-3">
                        <button class="btn btn-success" type="submit">Search</button>
                    </span>
                </form>
            </div>
            <div class="col-sm-4">
                <ul class="navbar-nav">
                    <li class="nav-item" th:if="${!adminLoggedIn}">
                        <a class="nav-link text-white" th:href="@{/}">Catalogue</a>
                    </li>
                    <li th:if="${!adminLoggedIn}" class="nav-item">
                        <a class="nav-link text-white" th:href="@{/purchase-history}">My Orders</a>
                    </li>
                    <li th:if="${!customerLoggedIn and !adminLoggedIn}" class="nav-item">
                        <a class="nav-link text-white" th:href="@{/login}">Login</a>
                    </li>
                    <li th:if="${customerLoggedIn or adminLoggedIn}" class="nav-item">
                        <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
                    </li>
                    <li class="nav-item"  th:if="${!adminLoggedIn}" >
                        <a class="nav-link" th:href="@{/cart}">
                        <i class="fas fa-shopping-cart text-white" style="font-size: 24px">
                            <span id="basket-count" class="">[(${basketCount})]</span>
                        </i></a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
</div>

</body>
</html>