<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hidden Items</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../static/admin-script.js" th:src="@{admin-script.js}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="../static/header-and-background.css" th:href="@{header-and-background.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/adminstyle.css" th:href="@{adminstyle.css}">
</head>
<body>
<header th:insert="~{fragments.html :: header}"> </header>

<!--tabs on left-->
<div id="tabs">
    <ul>
        <li><a th:href="@{admin}">Analytics & Orders</a></li>
        <li><a th:href="@{manageItems}">Manage Items</a></li>
    </ul>
</div>

<div id="main-container" class="stands-out-background container">
    <div class="row">
        <div id="sales-section" class="col-sm-12">
            <a th:href="@{manageItems}"><div id="sale-tab" class="xtab">Sale</div></a>
            <a th:href="@{hiddenItems}"><div id="hidden-tab">Hidden</div></a>
            <div id="hidden-items-container" class="row">
                <div id="hidden-items" class="col-sm-12">
                    <div><h2>Hidden Items</h2></div>
                    <div id="empty-hidden" th:if="${hiddenItems.empty}">There are currently no items hidden</div>
                    <div id="items" onload="activateEditButtons()">
                        <div class="item" th:each="i : ${#numbers.sequence(hiddenItems.size() -1,0,-1)}" th:with="item=${hiddenItems[i]}">
                            <span class="item-name"><strong>[(${item.getItemName})]</strong></span>
                            <span class="item-type" th:text="${item.getIsTrained==1} ? 'Trained' : 'Untrained'"></span>
                            <span class="item-desc"><p><strong>Description: </strong>[(${item.getDescription})]</p></span>
                            <span class="item-price">$[(${#numbers.formatDecimal(item.getPrice, 1, 2)})]</span>
                            <span class="item-quantity">x[(${item.getStock})]</span>
                            <span class="item-edit-icon"><p>edit</p></span>
                            <span class="item-unhide-icon"><p><a th:href="@{hiddenItems}+'/unhide/'+${item.getItemId}">unhide</a></p></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>