<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Items</title>
    <link rel="stylesheet" href="../static/cartstyle.css" th:href="@{cartstyle.css}">
    <link rel="stylesheet" href="../static/jason-stylesheet.css" th:href="@{jason-stylesheet.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="../static/admin-script.js" th:src="@{admin-script.js}"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

<header>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-top justify-content-center">
            <a class="navbar-brand" href="#">
                <img th:src="@{media/Screenshot%202023-02-13%20at%2016.08.55.png}" src="../static/media/Screenshot%202023-02-13%20at%2016.08.55.png" alt="logo" style="width:40px;">
            </a>
            <form class="form-inline" action="?">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log out</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!--tabs on left-->
<div id="tabs">
    <ul>
        <li><a th:href="@{admin}">Analytics & Orders</a></li>
        <li><a th:href="@{manageItems}">Manage Items</a></li>
    </ul>
</div>

<div id="main-container" class="stands-out-background container">
    <div class="row">
        <div id="sales-section" class="col-sm-12">
            <a th:href="@{manageItems}"><div id="sale-tab">Sale</div></a>
            <a th:href="@{hiddenItems}"><div id="hidden-tab" class="xtab">Hidden</div></a>
            <!--Items for sale-->
            <div id="items-for-sale" class="row">
                <div id="addItem" onclick="addItem()">+</div>
                <div id="admin-main-content" class="col-sm-12">
                    <div>
                        <h2>Items for sale</h2>
                    </div>
                    <form id='addItem-form' method="POST" th:action="@{/manageItems}" hidden>
                        <div class="item">
                            <span class="item-name"><input type='text' placeholder='Enter item title' name="name" required></span>
                            <span class="item-desc"><textarea id="desc-new" name="description" placeholder='Enter Description' cols='40' rows='6' required></textarea></span>
                            <span class="item-price">$<input type='number' step="any"  name="price" required></span>
                            <span class="item-quantity"><input type='number' step='1' name="quantity" required></span>
                            <span id="confirm-change" class="item-change-icon"><button type="submit">&#10003</button></span>
                            <span id="delete-change" class="item-delete-icon" onclick="resetAddItem()">X</span>
                        </div>
                    </form>
                    <div id="empty-sale" th:if="${myItems.empty}">There are currently no items for sale</div>
                    <div id="items" onload="activateEditButtons()">
                        <div class="item" th:each="i : ${#numbers.sequence(myItems.values().size() -1,0,-1)}" th:with="item=${myItems.values()[i]}">
                            <span class="item-name"><strong>[(${item.getName})]</strong></span>
                            <span class="item-desc"><p><strong>Description: </strong>[(${item.getDescription})]</p></span>
                            <span class="item-price">$[(${item.getPrice})]</span>
                            <span class="item-quantity">[(${item.getQuantity})]</span>
                            <span class="item-edit-icon"><p>edit</p></span>
                            <span class="item-hide-icon"><p><a th:href="@{hiddenItems}+'/hide/'+${item.getId}">hide</a></p></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>