<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchase History</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/header-and-background.css" th:href="@{header-and-background.css}">
    <link rel="stylesheet" href="../static/adminstyle.css" th:href="@{adminstyle.css}">

</head>
<body>
<header th:insert="~{fragments.html :: header}"> </header>

<div id="main-container" class="stands-out-background container-fluid">
    <div class="row">
        <div id="purchase-history-content" class="col-sm-12">
            <h3><b>Your Orders</b></h3>
            <div id="empty-sale" th:if="${customerOrders.size()==0}">You currently have no orders.</div>
            <div class="order-container" th:each="i : ${#numbers.sequence(customerOrders.size() - 1, 0, -1)}" th:with="order=${customerOrders[i]}">
                <div class="order-header">
                    <span class="order-header-item order-number">Order number: [(${order.getOrder.getOrderID})]</span>
                    <span class="order-header-item order-date">[(${order.getOrder.getOrderPlacedTime})]</span>
                    <span class="order-header-item order-price">Total: $[(${#numbers.formatDecimal(order.getTotalPrice, 1, 2)})]</span>
                </div>
                <div class="order-body" th:each="j : ${#numbers.sequence(0, order.getItems.size()-1, 1)}" th:with="item=${order.getItems[j]}, order_details=${order.getOrder_details[j]}">
                    <div class="order-item">
                        <span class="order-body-item order-item-name"><a href="#">[(${item.getItemName})]</a></span>
                        <span class="order-body-item order-item-type" th:text="${item.getIsTrained==1} ? 'Trained' : 'Untrained'"></span>
                        <span class="order-body-item order-item-quantity">x[(${order_details.getQuantity})]</span>
                        <span class="order-body-item order-item-price" th:with="totalItemPrice=${item.getPrice * order_details.getQuantity}">$[(${#numbers.formatDecimal(totalItemPrice, 1, 2)})]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--<footer><h3>Substitute footer</h3></footer>-->
</body>
</html>