<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirect</title>
    <link rel="stylesheet" href="../static/cartstyle.css" th:href="@{cartstyle.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/header-and-background.css" th:href="@{header-and-background.css}">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous' async></script>
    <script src="../static/redirect.js" th:src="@{redirect.js}" async></script>

</head>
<body>
<header th:insert="~{fragments.html :: header}"> </header>

<div class="stands-out-background container" style="padding: 50px 50px;">
    <div class="row">
        <div class="col-md-12">
            <h2 th:text="${redirectReason}"></h2>
            <br>
            <h2>redirecting to the category page...</h2>

        </div>
    </div>
</div>

</body>
</html>